*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{

    padding-left: 2rem;
    padding-right: 2rem;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 148, 108);
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
span{
    font-size: larger;
    font-weight: bolder;
}
li{
    margin-left: 2rem;
}

a:link {
    color: black;
}  

a:hover {
    color: red;
}
  
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.secdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}
main h1{
    margin-bottom: 2rem;
}
footer{
    height: 60px;
    background-color: black;
    color:white;
   text-align: center;
   padding-top: 1rem;
   padding-bottom: 1rem;
}